* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --color-primary: #5cbB5f;
    --color-bg1: #e5e5e5;
    --color-bg2: #f1f3ff;
    --transition: all 400ms ease;
    --color-lightblue: #cfd4ed;
}

/* =============== Globar Style =============== */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    color: black;
    background: var(--color-bg1);
}

h1, h2, h3, h4, p, a {
    color: black;
}

h2 {
    word-wrap: normal;
    font-size: 2rem;
    line-height: 1.5em;
}

p {
    margin: 1rem 0;
    line-height: 2rem;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* =============== End Globar Style =============== */

/* =============== navbar =============== */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.navbar-list {
    background-color: var(--color-bg2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
}

.navbar-item {
    margin: 0 20px;
    transition: var(--transition);
}

.navbar-item:last-child {
    margin-right: 30px;
}

.toggle {
    margin: 0 20px;
    display: none;
}

.navbar-link {
    font-weight: bold;
}

.navbar-link:hover {
    color: var(--color-primary);
}

.logo {
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: auto;
    margin-left: 30px;
    cursor: pointer;
}

.navbar-button {
    display: inline-block;
    padding: 0.8rem 1.5rem;
    background: var(--color-primary);
    color: var(--color-bg2);
    border-radius: 0.8rem;
    border: 2px solid transparent;
    transition: var(--transition);
}

.navbar-button:hover {
    color: black;
    background: transparent;
    border-color: var(--color-primary);
}

.fab-wa {
    position: fixed;
    display: flex;
    transition: var(--transition);
    justify-content: center;
    align-items: center;
    background-color: #5cbB5f;
    border-radius: 100%;
    font-size: 2rem;
    color: var(--color-bg2);
    height: 3.6rem;
    width: 3.6rem;
    z-index: 3;
    margin: 3rem;
    bottom: 0;
    right: 0;
}

.fab-wa:hover {
    transform: scale(1.3);
    background-color: #f1f3ff;
    color: var(--color-primary);
    box-shadow: 0 0 20px 1px rgba(92, 187, 95, 1);
}

@media screen and (max-width: 880px) {
    .navbar-list {
        flex-wrap: wrap;
    }

    .toggle {
        display: block;
    }

    .navbar-item {
        display: none;
        width: 100%;
        text-align: center;
        margin: 15px;
    }
    
    .navbar-button {
        display: block;
    }

    .active {
        display: block;
    }

    .container {
        width: 90%;
    }
}

@media screen and (max-width: 450px) {
    .logo {
        font-size: 1rem;
    }

    .navbar-item {
        font-size: small;
    }
}

@media screen and (max-width: 370px) {
    .toggle {
        display: none;
    }
}
/* =============== End navbar =============== */

/* =============== Header =============== */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.bg-image {
    background-image: url("../img/masjid.jpeg");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.header-container {
    position: absolute;
    z-index: 2;
    width: 80%;
    padding: 40px;
    text-align: center;
}

.header-title {
    color: var(--color-bg2);
    font-size: 3rem;
}

.header-text {
    color: var(--color-bg2);
    font-size: 1.3rem;
}

.btn-start {
    display: inline-block;
    color: var(--color-bg2);
    padding: 0.8rem 3rem;
    background: var(--color-primary);
    color: var(--color-bg2);
    border: 3px solid transparent;
    border-radius: 4rem;
    transition: var(--transition);
    margin-top: 4rem;
}

.btn-start:hover {
    background: var(--color-bg2);
    color: var(--color-primary);
    border: 3px solid var(--color-primary);
}

@media screen and (max-width:500px) {
    .btn-start {
        margin-top: 2rem;
    }

    .header-content h1 {
        font-size: 2.3rem;
    }

    .header-content p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .header-content a {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }
}
/* =============== End Header =============== */

/* =============== Benefit =============== */
.benefit-art {
    margin-top: 5rem;
    padding-top: 1rem;
}

.benefit-header {
    text-align: center;
    font-size: 1.3rem;
    margin: 0 1rem;
}

.benefit-container {
    display: grid;
    gap: 5rem;
    margin-top: 4rem;
}

.benefit-row {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    line-height: 1.6rem;
}

.benefit-title {
    font-size: 1.4rem;
    font-weight: bold;
    font-style: italic;
}

.benefit-icon {
    background-color: var(--color-lightblue);
    color: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    font-size: larger;
    margin-right: 0.5rem;
}

.uil {
    background-color: var(--color-lightblue);
    color: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    font-size: larger;
}

.benefit-img {
    width: auto;
    height: auto;
    object-fit: cover;
}

.benefit-img img {
    border-radius: 1rem;
    transition: var(--transition);
}

.benefit-img img:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.48);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.48);
}
/* =============== End Benefit =============== */

/* =============== Why Us =============== */
.whyus-art {
    background-color: var(--color-bg2);
    padding-bottom: 2rem;
}

.whyus-header {
    text-align: center;
    font-size: 1.5rem;
}

.whyus-list {
    margin-top: 4rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    text-align: center;
}

.whyus-item {
    border: 1px solid var(--color-lightblue);
    padding: 2rem;
    border-radius: 0.8rem;
    background-color: var(--color-bg1);
    transition: var(--transition);
    margin: 1rem 0;
    line-height: 2rem;
}

.whyus-item p {
    font-style: normal;
    font-size: 0.9rem;
    line-height: 1.5rem;
}

.whyus-text {
    font-weight: lighter;
    font-style: italic;
}

.whyus-icon {
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.whyus-item:hover {
    box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, 0.1);
}
/* =============== End Why Us =============== */

/* =============== Media Benefit dan Why us =============== */
@media screen and (max-width:1300px) {
    .whyus-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .benefit-container {
        grid-template-columns:  repeat(1, 2fr);
    }

    .benefit-row {
        grid-template-columns: repeat(1, 1fr);
        margin: 1rem 0;
    }

    .benefit-img img:hover {
        transform: scale(1);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.48);
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.48);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.48);
    }

    .benefit-title {
        margin-bottom: 1rem;
    }

    .whyus-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:500px) {
    .benefit-title{
        font-size: 1.3rem;
    }
}
/* =============== End Media Benefit dan Why us =============== */

/* =============== About Us =============== */
aside {
    background-color: var(--color-bg1);
    justify-content: center;
    padding-bottom: 2rem;
}

.aboutus-header {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 1.3rem;
}

.aboutus-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    transition: var(--transition);
    padding: 2rem;
    gap: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background-color: var(--color-bg2);
}

.aboutus-card:hover {
    box-shadow: 0 0 2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.aboutus-img {
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    .aboutus-card {
        padding: 1rem;
        grid-template-columns: repeat(1, 1fr);
        margin: 2rem;
    }
    .sosialmedia {
        padding-bottom: 1rem;
    }
}
/* =============== About Us =============== */

/* =============== Footer =============== */
footer {
    background-color: var(--color-bg2);
    padding: 1rem;
    text-align: center;
}
/* =============== End Footer =============== */